extends ../layout/main
block variable
    -
       var filter = [
       {name:'Дома: сборные, модульные',
        category: 'house'
       },
       {name:'Модульные здания',
        category: 'modules'
       },
       {name:'Офисы',
        category: 'offices'
       },
       {name:'Павильоны и киоски',
        category: 'booth'
       },
       {name:'Санитарные блоки',
        category: 'toilet'
       },
       {name:'Посты охраны',
        category: 'security'
       },
       {name:'Блок контейнеры',
        category: 'containers'
       },
       {name:'Ангары',
        category: 'hangars'
       }
       ];
        var elements = [
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'house',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'house',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'modules',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'offices',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'offices',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'booth',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'offices',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'booth',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'toilet',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'security',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'security',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'toilet',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'hangars',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'hangars',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'containers',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'containers',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'hangars',
                link: '#'
            },
            {
                img: './assets/images/single-news/Rectangle1.jpg',
                data: '2019-08-15',
                title: 'Модульные операторские (3шт) для солнечных электростанций',
                category: 'containers',
                link: '#'
            }
        ];

block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')

    script(src='./assets/scripts/pagination.js')
    script(src='./assets/scripts/filter.js')

block content
    section.works
        h1.works__title Новости
        include includes/breadcrumb
        ul.works__filters.js-filter
            each el in filter
                li(data-category= el.category).works-filter__elem= el.name
                    button(type="button").works-filter__remove.js-works-filter__remove
                        span.menu__close--line
                        span.menu__close--line
        ul.works__list
            each el in elements
                li(data-category=el.category).works__element.js-filter__category
                        a(href=el.link).works__link
                                   .works-element__img
                                       img(src=el.img)
                                   .works-element__data= el.data
                                   .works-element__title= el.title

        include includes/pagination

block footer
    footer.footer
        include ../includes/footer-top
        include ../includes/footer-middle
        include ../includes/footer-bottom

block header
    header.header
        include ../includes/header.pug